* {
  margin: 0;
  padding: 0;
}

:root {
  --very-large-font: 86px;
  --large-font: 64px;
  --medium-font: 18px;
  --primary-color: #21038C;
  --text-color: #d3d3d3
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}


/* Color Theme Swatches in Hex */
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-1-hex { color: #D95FD1; }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-2-hex { color: #4F0259; }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-3-hex { color: #460273; }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-4-hex { color: #6204BF; }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-5-hex { color: #21038C; }

/* Color Theme Swatches in RGBA */
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-1-rgba { color: rgba(216, 95, 208, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-2-rgba { color: rgba(79, 1, 89, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-3-rgba { color: rgba(69, 2, 114, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-4-rgba { color: rgba(97, 3, 191, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-5-rgba { color: rgba(32, 2, 140, 1); }

/* Color Theme Swatches in HSLA */
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-1-hsla { color: hsla(303, 61, 61, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-2-hsla { color: hsla(292, 96, 17, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-3-hsla { color: hsla(275, 96, 22, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-4-hsla { color: hsla(270, 96, 38, 1); }
.PUBG-MOBILE CREATOR-PLAN-STYLE-FRAME-5-hsla { color: hsla(253, 96, 28, 1); }


.overlay_canvas {
  position: fixed;
  top:50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 2;
  pointer-events: none;
  /* background-color: greenyellow; */
  height: 700px;
  width: 800px;
  overflow: hidden;
}

.first_page_title {
  font-size: var(--very-large-font);
  color: var(--text-color);
  letter-spacing: 2.5px;

}

.title_container {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  left: 100px;
}



.background_circle {
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  position: absolute;
  top: 40%;
  right: 190px;
  transform: translate(0, -50%);

}

section {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
.section_button {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 10px 40px 10px 40px;
  display: inline-block;
  border-radius: 60px;
  cursor: pointer;
  font-size: 22px;
  margin-top:40px ;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.down_arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
  color: var(--text-color);
  font-size: var(--large-font);
}

.arrow_animation {
  animation: arrow_animation 1s infinite;
}

@keyframes arrow_animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.second_section {
  background-color: var(--primary-color);
  /* background-color: greenyellow; */
}
.about_container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 600px;
  right: 0;
  padding: 0 100px 0 40px;
  color: var(--text-color);
}

h2 {
  font-size: var(--large-font);
}

.cross {
  position: absolute;
  top:40%;
  transform: translate(0, -50%);
  left:200px;
  .plate {
    height:100px;
    width: 550px;
    background-color: var(--text-color);
    position: absolute;
    opacity: 0.5;
  }
  .left {
    transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
  }
}

.square {
  height: 500px;
  width: 500px;
  background-color: var(--text-color);
  opacity: 0.5;
  position: absolute;
  top:40%;
  transform: translate(0, -50%);
  right: 100px;
  border-radius: 60px;
}

.specification_container {
  position: absolute;
  top:40%;
  padding: 0 40px 0 100px;
  transform: translate(0, -50%);
  color: var(--text-color);
}
.last_text {
  font-size: var(--very-large-font);
  color: var(--text-color);
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
}
.left_text {
  left: 200px;
}
.right_text {
  right: 200px;
}

.loader {
    height: 50px;
    width:50px;
    background: #D91A60;
    border-radius: 50%;
    animation: loading 2s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        scale: 1;
        opacity:1;
    }

    50% {
        scale: 1.5;
        opacity:0.8;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}